*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    font-family: HP Simplified Light, sans-serif;
}

/*COMMON. Clases usadas de forma común en todas las páginas*/
.title-general{
  font-size: 250%;
}

.wrap{
  width: 90%;
  max-width: 500px;
  margin: auto;
}

.oveja{
  font-size: 275%;
  font-weight: 500;
  font-family: HP Simplified Light, sans-serif;
  text-align: center;
}


/*INDEX. Clases usadas en index.html*/
.list{
  font-size:300%;
}

/*LOGIN. Clases usadas en login.html*/
.background-login{
  background:url(resources/login.jpg);
 background-size:100%;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
.signup{
  text-align: center;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  font-weight: lighter;
}
.login-input{
  line-height: 200%;
  text-align: center;
  margin: auto;
}
.input-text{
  text-align: center;

}

.selector{
  font-family: HP Simplified Light, sans-serif;
  font-weight: 200;

}


.login-box{
  border-radius: 20px;
  align-items: center;
  background-color:#ffa552;
  border:2px solid:#f75c03;
  height: 40%;
  margin:25px;
}
footer{
  background:#3f2830;
    color:#fcde9c;
  padding:10px 0px;
  text-align:center;
  margin-top:10%;
  margin-bottom:90%;
  margin-right:50%;
  margin-left:50%;
}
.footerLi{
  display:inline-block;
  padding:20px 20px;

}

.button-login{
  padding: 15px;
  background: #ED572A;
  color: #E1E9FA;
  font-size: 1em;
  font-family: HP Simplified Light, sans-serif;
  border-radius: 2px;
  border: none;
  cursor: pointer;


/*EXTRA: Orientación. Usar para tamaño y forma de divs para versiones móvil*/
@media screen and (orientation:portrait) {
  .login-box{
  /*border: 4px solid black;*/

  margin-left: 10%;
  margin-right: 10%;


  }  /* Portrait styles */
}

@media screen and (orientation:landscape) {
  .login-box{

  /*border: 7px solid rgb(48, 154, 31);*/

  margin-left: 30%;
  margin-right: 30%;



  }
    /* Landscape styles */
}
