.title{
  font-size: 400%;
}

.list{
font-size:300%;
}


.viaje{
  /*display: block;
  margin:10px 0;

  content: " ";*/
  line-height: 200%;
  align-items: center;
}


@media screen and (orientation:portrait) {
  .login-box{
  border: 4px solid black;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  }  /* Portrait styles */
}

@media screen and (orientation:landscape) {
  .login-box{
  border: 4px solid red;
  margin: auto;
  margin-left: 30%;
  margin-right: 30%;
  align-items: center;
  }
    /* Landscape styles */
}
