*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body{
  background-color: #fcde9c;
  font-family:"News Cycle", sans-serif;
  color: #3f2830;
}

.dashboardSuperior{
  margin-top: 5%;
  margin-bottom: 5%;
}

.todo{
  min-height: 100%;
  position: relative;
  padding: 0 0 100px;
}

*{
  border: 0 solid black;
}

div{
  display:inline-block;
}

header{
  background-color: #f75c03;


}

footer{
  background:#3f2830;
  color:#fcde9c;
  clear:both;
  padding:0px 0px;
  text-align:center;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 100px;
  
}
.footerLi{
  display:inline-block;
  padding:20px 20px;
}
main{
  margin-left:5%;
  margin-right:5%;
}

.menuHeader{
font-weight: bold;
list-style-type: none;
overflow:hidden;
margin: 0;
padding: 0;
}

.itemHeader{
  float: left;
}

.itemHeader a{
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.rightHeader{
float:right;
}

 .itemHeader a:hover{
   background-color:#ffa552;
}

.actividadBox{
  width: 100%;
  margin-top:5%;
}
.estado{
  width: 45%;
  height: 50%;
}

.perfil{
  width: 45%;
  float: right;
}

.icon{
  width: 100px;

}

.actividadMenu{
 font-weight: bold;
 list-style-type: none;
 overflow:hidden;
 margin: 0;
 padding: 0;

 }

.actividadItem{
  float:left;
  width: 33%;
}
 .actividadItem a{
 display: block;
 text-align: center;
 padding: 16px;
 text-decoration: none;
}
.noLink{
  text-decoration:none;
  color:#3f2830;
}

.caja{
border: 1px solid black;
width: 33.33%;
height: 33.33%;	
margin: 3%;
}

.cajaSuperior{
	
	border: 1px solid black;
width: 400px;
	margin: 5%;
	background-color: brown;
}

.cajaInferior{
	border: 1px solid black;
width: 400px;
	margin-left: 5%;
	margin-bottom: 4%;
	background-color: brown;
}
.iconoResultado{
   width: 100px;
   border: 2px solid black;
}

.superiorIzquierda{
	margin: 5%;
}

.superiorDerecha{
	
}

.cajaNombre{
	
	
}

.cajaTitulacion{
	

	
}
.bodyResults{
	overflow: scroll;
}

.nextPageButton{
	
}