*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-color: #fcde9c;
}

*{
  border: 0px solid black;
}

div{
  display:inline-block;
}

header{
  background-color: #f75c03;
  font-family:"News Cycle", sans-serif;

}

footer{
  position: relative;
  margin: 20px;
  background-color: #ffa552;
  float:left;
  }

.menuHeader{
font-weight: bold;
list-style-type: none;
overflow:hidden;
margin: 0;
padding: 0;
}

.itemHeader{
  float: left;
}

.itemHeader a{
  display: block;
  color: #3f2830;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.rightHeader{
float:right;
}
 .itemHeader a:hover{
   background-color: #a44200;
}

.actividadBox{
  width: 100%;
}
.estado{
  width: 45%;
  height: 50%;
}

.perfil{
  width: 45%;
  float: right;
}

.icon{
  width: 100px;

}

.actividadMenu{
font-weight: bold;
 list-style-type: none;
 overflow:hidden;
 margin: 0;
 padding: 0;
 }

.actividadItem{
  float:left;
  width: 33%;
}
 .actividadItem a{
 display: block;
 color: black;
 text-align: center;
 padding: 16px;
 text-decoration: none;
}
