*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,html{
  height:99.4%;
  padding:0;
}
body{
  background-color: #fcde9c;
  font-family:"News Cycle", sans-serif;
  color: #3f2830;
}

.todo{
  margin-bottom: -50px;
  min-height: 100%;
}
*{
  border: 0px solid black;
}

div{
  display:inline-block;
}

header{
  background-color: #f75c03;
 

}

footer{
  background-color: #ffa552;
  clear:both;
  padding:0;
  text-align:center;
  height: -50px;
  /*position: relative;
  float:left;
  margin-top: -3em;
  height: 3em;*/
  }

.menuHeader{
font-weight: bold;
list-style-type: none;
overflow:hidden;
margin: 0;
padding: 0;
}

.itemHeader{
  float: left;
}

.itemHeader a{
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.rightHeader{
float:right;
}

 .itemHeader a:hover{
   background-color: #a44200;
}

.actividadBox{
  width: 100%;
  margin-top:10%;
}
.estado{
  width: 45%;
  height: 50%;
}

.perfil{
  width: 45%;
  float: right;
}

.icon{
  width: 100px;

}

.actividadMenu{
 font-weight: bold;
 list-style-type: none;
 overflow:hidden;
 margin: 0;
 padding: 0;
  
 }

.actividadItem{
  float:left;
  width: 33%;
}
 .actividadItem a{
 display: block;
 text-align: center;
 padding: 16px;
 text-decoration: none;
}
.noLink{
  text-decoration:none;
  color:#3f2830;
}
